 
 



#html_cls {
    }

.body_cls {
          background-color: white;
          background: linear-gradient(to right, #007bff, #00c6ff);
          line-height: 1.2;
          background: lightblue;
            }

 .custom-container {
      background-color: #f8f9fa;
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 40px; /* spacing from top */
      margin-bottom: 40px; /* spacing from bottom */
    }


#R1_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
  background: linear-gradient(to right, #007bff, #00c6ff);
  /* #46D1F3 is a light blue color */
  text-align: center;
  background: black;
  }


#R2_D1 {
/*  background-color: white;  */
 /* #46D1F3 is a light blue color */
border: 0px solid #333;
  border-radius: 0px;
  }

#R3_D1 {
/*  background-color: white;  */
 /* #46D1F3 is a light blue color */
border: 0px solid #333;
  border-radius: 0px;
  }

#R4_D1 {
/*  background-color: white;  */
 /* #46D1F3 is a light blue color */
border: 0px solid #333;
  border-radius: 0px;
text-align: center;
  }

#P1 {
font-family: Arial;
font-size:  25px;
 /* font-size: 12.5vh; */
  
  font-weight: 800;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }

#P2 {
font-family: Arial;
/* font-family: 'Tangerine';  */
font-size:  22px;

/*  font-size: 12.5vh;  */ 
  font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }

#P3 {
font-family: Arial;
font-size:  22px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */

  font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
  }

#P4 {
font-family: Arial;
 font-size: 22px;
 /* font-size: 12.5vh; */

 font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
  }



.img-fluid {
  width: auto;
  height: auto;
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
}



  .dc_cls {

  position: relative;
  Top: 0vh; 
  height: 95vh;
  width: 95vw;
  left: 2vw;
  background: transparent;
  border: solid 0.0vh maroon;
  
  }

  .dc_d1_cls {

  position: absolute;
  Top: 19vh; 
  height: 70vh;
  width: 2vw;
  left: 25vw;
  background: linear-gradient(red, green);
  border: solid 0.1vh maroon;
  border-top-left-radius:0%;
  border-top-right-radius:0%;
  border-bottom-left-radius:0%;
  border-bottom-right-radius:0%;
  }

 .dc_d2_cls {

  position: absolute;
  Top: 19vh; 
  height: 70vh;
  width: 02vw;
  left: 66.5vw;
  background: linear-gradient(blue, yellow);
  border: solid 0.1vh maroon;
  border-top-left-radius:0%;
  border-top-right-radius:0%;
  border-bottom-left-radius:00%;
  border-bottom-right-radius:000%;
  }
 
.dc_vd_cls {

  position: absolute;
  Top: 38vh; 
  height: 24vh;
  width: 32vh;
  left: 72vw;
  
  }
 
.dc_ptitle_cls {

  position: absolute;
  Top: -4vh;
  height: 5vh;
  left: 35.5vw;
  width: 25vw;
  Text-align: center;
  font-family: 'Tangerine';
  font-size: 5.0vh;
  font-weight: bold;
  color: white;
  background: transparent;
  border: solid 0.0vh red;

  
  }
.a0 {

  position: absolute;
  Top: 12vh; 
  height: 3vh;
  width: 6vw;
  left: 28vw;
  background: transparent;
  color: white;
  font-family: 'Open+Sans';
  font-size: 2.5vh;
  border: solid 0.1vh black;
  text-align: center;
  
  }


.a1 {

  position: absolute;
  Top: 12vh; 
  height: 3vh;
  width: 6vw;
  left: 35vw;
  background: transparent;
  color: white;
  font-family: 'Open+Sans';
  font-size: 2.5vh;
  border: solid 0.1vh black;
  text-align: center;
  }

.a2 {

  position: absolute;
  Top: 12vh; 
  height: 3vh;
  width: 6vw;
  left: 43vw;
  background: transparent;
  color: white;
  font-family: 'Open+Sans';
  font-size: 2.5vh;
  border: solid 0.0vh black;
  text-align: center;
  }

.a3n {

  position: absolute;
  Top: 12vh; 
  height: 3vh;
  width: 6vw;
  left: 52vw;
  background: transparent;
  color: white;
  font-family: 'Open+Sans';
  font-size: 2.5vh;
  border: solid 0.0vh black;
  text-align: center;
  }

.a4 {

  position: absolute;
  Top: 12vh; 
  height: 3vh;
  width: 6vw;
  left: 59vw;
  background: transparent;
  color: white;
  font-family: 'Open+Sans';
  font-size: 2.5vh;
  border: solid 0.0vh black;
  text-align: center;
  }


 .dc_p0_cls {

  position:absolute;

  top: -6vh;
  height: 6vh;
  width: 95vw; 
  left: 0vw;
  Text-align: center;
  font-family: 'Tangerine';
  font-size: 5.2vh;
  font-weight: bold;
  color:white;
  border: solid 0.0vh red;
  background: linear-gradient(black, maroon);
  border-top-right-radius:0%;
  border-top-left-radius:0%;
 
}

.dc_ptitle_cls {

  position: absolute;
  Top: -6vh;
  height: 5vh;
  left: 35.5vw;
  width: 25vw;
  Text-align: center;
  font-family: 'Tangerine';
  font-size: 5.0vh;
  font-weight: bold;
  Color: white;
  background: transparent;
  border: solid 0.0vh red;

  
  }

.dc_P1_cls {

  Top: 3.4vh;
  height: 3vh;
  left: 0vw;
  width: 95vw;
  Text-align: center;
  font-family: 'Open+Sans';
  font-size: 1.8vh;
  font-weight: bold;
  color:white;
  Position: absolute;
  z-index: 730;
  background: linear-gradient(yellow, maroon);

 } 

 .ip0 {

  position: absolute;
  Top: 7vh; 
  height: 19vh;
  width: 15.5%;
  left: 2.2%;
  border: solid 0px red;
  border-radius: 0vh;
  filter: brightness(500%);
  filter: contrast(400%);
  hidden: hidden; 
  
  padding: 0.0vh;
  
  }

.soon {

 position: absolute;
  Top: 23vh; 
  height: 55vh;
  width: 30vw;
  left: 31.3vw;
  border: solid 0px red;
  border-radius: 0vh;
  filter: brightness(100%);
  filter: contrast(200%);
  hidden: hidden; 
  
  padding: 0.0vh;
  
  }

.container3-header { position: absolute; 
  width: 26%;
  height: 4vh;
  Top: 30vh;
  left: 0%;
  text-align: center;
  font-family: 'Arial';
  font-size: 3.25vh;
  font-weight: bold;
  Color: white;
  text-decoration: underline;
  border: solid 0.0vh blue;
  
}

.container3 {  position: absolute;
  width: 18%;
  height: 50vh;
  Top: 34vh;
  left: 4%;
  border: solid 0.0vh blue;
}

.sh-ot-shape3 {  width: 65%;  height: 40vh; float: left; 
         background: linear-gradient(red, orange);
         background-color:  yellow;      
 
/*    Circle shape at left    */

         shape-outside: circle(20% at 27% 30%) border-box;    
         clip-path: circle(15% at 27% 30%);  
          -webkit-shape-outside: circle(20% at 27% 30%) border-box;    
         -webkit-clip-path: circle(15% at 27% 30%);    

         -ms-shape-outside: circle(20% at 27% 30%) border-box;    
         -ms-clip-path: circle(15% at 27% 30%);    
    
         
   shape-margin: 5.3%;
   border: solid 0.0vh red;
 
}
.sh-ot-text3 { text-align: left;
  font-family: 'Arial';
  font-size: 2.25vh;
  font-weight: normal;
  Color: white;
  border: solid 0.0vh maroon;
}
.lh3 { text-align: center;
  font-family: 'Arial';
  font-size: 3.25vh;
  Color: white;
  border: solid 0.0vh maroon;
}
.boxes {

  position: absolute;
  Top: 66vh; 
  height: 28vh;
  width: 25.5%;
  left: 74.6%;
  border: solid 0px red;
  border-radius: 0vh;
  filter: brightness(100%);
  filter: contrast(200%);
  hidden: hidden; 
  
  padding: 0.0vh;
  
  }

.circle1 {

  position: absolute;
  Top: 43vh; 
  height: 7vw;
  width: 7vw;
  left: 82.6%;
  border: solid 0px red;
  -webkit-border-radius: 50%;
  filter: brightness(100%);
  filter: contrast(500%);
  background: yellow; 
  -webkit-clip-path: circle1(20% at center);
  
  padding: 0.0vh;
  
  }

.triangle1 {

  position: absolute;
  Top: 39vh; 
  height: 0;
  width: 0;
  left: 79.6%;
  border: solid 0px red;
  -webkit-border-bottom: 100px;
  -webkit-border-right: 10px transparent;
  filter: brightness(100%);
  filter: contrast(200%);
  background: yellow; 
  
  
  padding: 0.0vh;
  
  }

