


#html_cls {
    }

 

.body_cls {
         
          line-height: 1.5;
          background-image: url('main-image1.jpg');
  /*  background-repeat: no-repeat;   */
    background-position: center;

            }

 .container {
     
      border: 0px solid #ddd;
     
     
    }

 .custom-container {
      background-color: #f8f9fa;
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 20px; /* spacing from top */
      margin-bottom: 20px; /* spacing from bottom */
      background-color: lightblue;
      
    }


.img-fluid {
  width: auto;
   height: auto; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#P1 {
font-family: calibri;
font-size: clamp(1rem, 1.6vw, 2.0rem); 
font-weight: 600;
 Color: darkred;   
text-align: left;
  }


#P2 {
font-family: calibri;
font-size: clamp(1rem, 1.6vw, 2.0rem); 
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 600;
 Color: darkred;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-align: left;
  }

.aclass { font-size: clamp(1rem, 1.2vw, 1.4rem); font-family: calibri; font-weight: 550; color:black; text-align:left; display:block; }
 