 
 



#html_cls {
    }

.body_cls {
         
          line-height: 1.5;
/*          background-image: url('index-image.jpg');   */
    background-repeat: no-repeat;      
    background-position: center;  

            }


.gap14vw {
  height: clamp(1rem, 1.4vw, 1.8rem);   /* or any size you want; mobile = desktop */
}

.gap10vw {
  height: clamp(1rem, 1.0vw, 1.8rem);   /* or any size you want; mobile = desktop */
}

 #main-container-third {
      background-color: #f8f9fa;
      background: lightyellow;  
      background-color: black; 
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 10px; /* spacing from top */
      margin-bottom: 40px; /* spacing from bottom */
      border: 0px solid red;
      align: left;
    }

#main-container-first {
/*    display: none;   */
    top: 0;
      left: 0;
border: 0px solid yellow;
  }

#main-container-second {
/*    display: none;   */
/*    top: 0;     */
/*      left: 0;   */
border: 0px solid blue;
   }

 .sectionBox {
    display: none;
    padding: 15px;
    background: #eef5ff;
    border-left: 4px solid #4a8cff;
    margin: 10px 0 20px 0;
    border-radius: 6px;
     border: 0px solid red;
     width: 90%;  
     animation: zoomIn .5s ease;
     transition: .55s ease; 
  }   
@keyframes zoomIn {
  from { transform: scale(0.75); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}


 .menuPara {
font-family: Calibri;
font-size: clamp(1rem, 1.6vw, 1.9rem); 
font-weight: 600;
 Color: white;   
 /* display:inline-block; */ 
  }



 .container {
     
      border: 0px solid #ddd;
     
     
    }

 .custom-container {
      background-color: #f8f9fa;
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 3px; /* spacing from top */
      margin-bottom: 20px; /* spacing from bottom */
      background-color: lightblue;
      
    }


.img-fluid {
  width: auto;
   height: auto; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#P1 {
font-family: calibri;
font-size: clamp(1rem, 1.6vw, 2.0rem); 
font-weight: 600;
 Color: darkred;   
text-align: left;
  }


#P2 {
font-family: calibri;
font-size: clamp(1rem, 1.6vw, 2.0rem); 
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 600;
 Color: darkred;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-align: left;
  }

.aclass { font-size: clamp(1rem, 1.2vw, 1.4rem); font-family: calibri; font-weight: 550; color:black; text-align:left; display:block; }










 