 
 



#html_cls {
    }

.body_cls {
          background-color: white;
          background: linear-gradient(to right, #007bff, #00c6ff);
          background-color: black;
          background: lightblue;
          line-height: 0.8;
            }

.overlay-text {
  padding: 1rem;
  max-width: 90%;
}

/* Mobile font adjustment */
@media (max-width: 576px) {
  .overlay-text h2 {
   font-size: 1.2rem;
  }
  .overlay-text p {
    font-size: 0.9rem;
  }
}

