 
 



#html_cls {
    }

.body_cls {
          background-color: white;
          background: linear-gradient(to right, #007bff, #00c6ff);
          background-color: white;
          background: lightblue;
          line-height: 0.8;
            }



 #main-container-third {
      background-color: #f8f9fa;
      background: lightyellow;  
      background-color: white; 
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 40px; /* spacing from top */
      margin-bottom: 40px; /* spacing from bottom */
      border: 2px solid red;
    }

#R1_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
  /* background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
  text-align: center;
  }



#P1 {
font-family: Arial;
font-size:  20px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-decoration: underline;
  }



.img-fluid {
  width: auto;
  
   height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#main-container-first {
/*    display: none;   */
    top: 0;
      left: 0;
border: 2px solid yellow;
 
  }

#main-container-second {
/*    display: none;   */
/*    top: 0;     */
/*      left: 0;   */
border: 2px solid blue;
 
  }

#R1_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
  /* background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 
  }



.btn {
      display: inline-block;
   /*   background: #0066ff;   */
      background: black; 
      color: white;
      padding: 0.6rem 1.2rem;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 600;
      margin-top: 0.6rem;
     }


#sh-ot-image1 {  width: 25%;  float: right; 
  
/*    Image at left    */
        filter: brightness(200%);
  filter: contrast(100%);  
   border: solid 8px white;  

 
      -webkit-shape-outside: url(individualjp1.jpg);  
         
   -webkit-shape-margin: 22%;
  shape-image-threshold: 5.5; 
   -webkit-shape-image-threshold: 5.5; 
 
}

.sh-ot-text4 { text-align: left;
  font-family: 'calibri';
  font-size: 18px;
  font-weight: 400;
  Color: black;
  border: solid 0.0vh maroon;
}

 .sectionBox {
    display: none;
    padding: 15px;
    background: #eef5ff;
    border-left: 4px solid #4a8cff;
    margin: 10px 0 20px 0;
    border-radius: 6px;
  }

  

  

  .sectionBox {
    display: none;
    padding: 15px;
    background: #eef5ff;
    border-left: 4px solid #4a8cff;
    margin: 10px 0 20px 0;
    border-radius: 6px;
  }

  a {
    cursor: pointer;
    color: #0066cc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }









 