 
 



#html_cls {
    }

.body_cls {
          background-color: white;
          background: linear-gradient(to right, #007bff, #00c6ff);
          background-color: white;
          background: lightblue;
          line-height: 0.8;
            }

  .contactForm {
      max-width: 600px;
      background: linear-gradient(to right, #007bff, #00c6ff);
      background: lightyellow;  
      margin: 60px auto;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
   /*   color: white;   */
    }

 .custom-container {
      background-color: #f8f9fa;
      background: lightyellow;  
      background-color: white; 
      border: 2px solid #ddd;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 40px; /* spacing from top */
      margin-bottom: 40px; /* spacing from bottom */
    }

#R1_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
  /* background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
  text-align: center;
  }

#R2_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
   background: linear-gradient(to right, #007bff, #00c6ff); 
  /* #46D1F3 is a light blue color */
  
  }

#P1 {
font-family: Arial;
font-size:  20px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-decoration: underline;
  }

#P2 {
font-family: Calibri;
font-size:  18px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-align: left;
  }

#P3 {
font-family: Arial;
font-size:  22px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 600;
 Color: white; 
text-decoration: underline;  
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
  }

#P4 {
font-family: Calibri;
font-size:  18px;
/* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
  }

#P5 {
font-family: Arial;
 font-size: 22px;
 /* font-size: 12.5vh; */
 font-weight: 600;
 Color: white;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-decoration: underline;
  }


#P6 {
font-family: Calibri;
font-size:  18px;

  font-weight: 400;
 Color: black;  
 
  }

#P7 {
font-family: Arial;
font-size:  16px;
font-weight: 500;
 Color: black;  
 

  }

#P8 {
font-family: Arial;
font-size:  18px;
font-weight: 500;
 Color: black;   


  }

#P9 {
font-family: Arial;
font-size:  18px;
font-weight: 500;
 Color: white;   
text-decoration: underline;


  }


.img-fluid {
  width: auto;
  
   height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#container-div-second {
/*    display: none;   */
    top: 0;
      left: 0;

 
  }

#R1_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
  /* background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 
  }

#R2_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
 /*  background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 text-align: center;
  
  }

#VR2_D1 {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
 /*  background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 text-align: center;
 
  
  }

#VR3-D1-BIO {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
 /*  background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 text-align: left;
  
  }

#VR3-D1-QLF {
    border: 0px solid #333;
  border-radius: 0px;
  /* padding: 15px;  */
 /*  background: linear-gradient(to right, #007bff, #00c6ff);  */
  /* #46D1F3 is a light blue color */
 text-align: left;
  
  }

#adrlist {
  list-style-type: none; /* Remove bullets */
font-family: Arial;
font-size:  16px;
font-weight: 200;
 Color: black;   
}

#qlflist {
 font-family: Arial;
font-size:  16px;
font-weight: 200;
 Color: black;   
}

#explist {
  
font-family: Arial;
font-size:  16px;
font-weight: 200;
 Color: black;   
}





.LC {
font-family: Arial;
font-size:  18px;
 /* font-size: 12.5vh; */
  
  font-weight: 500;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }

.VLC {
font-family: Arial;
font-size:  18px;
 /* font-size: 12.5vh; */
  
  font-weight: 500;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }


#VP1 {
font-family: Arial;
font-size:  18px;
 /* font-size: 12.5vh; */
text-align: center;
  
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }

#VP2 {
font-family: Arial;
/* font-family: 'Tangerine';  */
font-size:  18px;

/*  font-size: 12.5vh;  */ 
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

  }

#VP2-1 {
font-family: Arial;
/* font-family: 'Tangerine';  */
font-size:  20px;

/*  font-size: 12.5vh;  */ 
  font-weight: 450;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-decoration: underline;

  }


#VP3 {
font-family: Arial;
font-size:  18px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */

  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-align: left;
  }


#VP4 {
font-family: Arial;
font-size:  20px;
font-weight: 450;
 Color: Black;   

display:inline-block;

  }





#VP5 {
font-family: Arial;
font-size:  18px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
text-align: left;
  }

#VP6 {
font-family: Arial;
font-size:  20px;
 /* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 450;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

display:inline-block;
  }

#VP7 {
font-family: Arial;
font-size:  18px;
/* font-size: 12.5vh; */
 /* font-size: 12.5vh; */
  font-weight: 400;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */
  }

#VP8 {
font-family: Arial;
 font-size: 20px;
 /* font-size: 12.5vh; */
 font-weight: 450;
 Color: black;   
 /*    background-color: transparent;  */
 /* #46D1F3 is a light blue color */
  /*  box-shadow: 1.5vh 1.5vh 1.0vh black; */
   /* border: solid 0.0vh red; */

display:inline-block;
  }


#VP9 {
font-family: Arial;
font-size:  18px;
  font-weight: 400;
 Color: black;  
   }

.btn {
      display: inline-block;
   /*   background: #0066ff;   */
      background: black; 
      color: white;
      padding: 0.6rem 1.2rem;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 600;
      margin-top: 0.6rem;
     }









 